name: 11 Permissions

on:
  workflow_dispatch:


jobs:
  example-job:
    permissions:
      contents: write
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Attempt Write Operation
        run: |
          touch new-file.txt
          git config --global user.name "Mark McIntyre"
          git config --global user.email "mark@mocktech.net"
          git add new-file.txt
          git commit -m "attempt to write"
          git push origin ${{ github.ref }}

